{% extends 'base.html' %}

{% block title %}Sổ thu tiền mặt{% endblock %}

{% block heading %}Sổ thu tiền mặt{% endblock %}

{% block content %}
<div class="panel">
    <div class="panel-body">
        <div class="text-left">
            <a onclick="addRow()" class="btn btn-green">Thêm</a>
            <br/>
            <br/>
        </div>
        <div style="overflow-x: auto;">
            <table id="myTable" class="table table-bordered table-hover">
                <thead>
                    <tr class="bg-gray text-black">
                        <th>Số TT</th>
                        <th>Ngày tạo</th>
                        <th>Nội dung thu tiền</th>
                        <th>Số tiền</th>
                        <th>Tài khoản đối ứng</th>
                        <th>Loại doanh thu</th>
                        <th>Số chứng từ</th>
                        <th>Ngày thu tiền</th>
                        <th>Người trực tiếp thu tiền</th>
                        <th>Họ tên người nộp tiền</th>
                        <th>Địa chỉ</th>
                        <th>Nhận tiền tại</th>
                        <th></th>
                    </tr>
                </thead>
                
                <tbody>
                    <!-- {% for income in incomes %}
                        <tr>
                            <td class="incomeId">{{ income.id }}</td>
                            <td>{{ income.created_at|date:"SHORT_DATE_FORMAT" }} {{ income.created_at|time:"h:i a" }}</td>
                            <td class="data">{{ income.content }}</td>
                            <td class="data">{{ income.amount }}</td>
                            <td class="data">{{ income.account }}</td>
                            <td class="data">{{ income.income_type }}</td>
                            <td class="data">{{ income.accounting_voucher }}</td>
                            <td class="data">{{ income.budget }}</td>
                            <td class="data">{{ income.contract }}</td>
                            <td class="data">{{ income.branch }}</td>
                            <td class="data">{{ income.applicant }}</td>
                            <td class="data">{{ income.company }}</td>
                            <td class="data">{{ income.address }}</td>
                            <td class="buttonsBlock">
                                <a class="btn save"> Lưu </a>
                                <a class="btn delete"> Xóa </a>
                                <a class="btn edit"> Sửa </a>
                            </td>
                        </tr>
                    {% endfor %} -->
                </tbody>
            </table>
        </div>
        <div id="paginator"></div>
    </div>
    <script>

        loadIncomeTable();

        $(document).on('click', '.edit', function() {
            let i = 0;
            $(this).parent().siblings('td.data').each(function() {
                i += 1;
                content = $(this).html();
                if (i==6){
                    $(this).html('<input type="date" value="' + content + '" />');
                } else {
                    $(this).html('<input value="' + content + '" />');
                }
            });
            $(this).siblings('.save').show();
            $(this).siblings('.delete').hide();
            $(this).hide();
        });

        $(document).on('click', '.save', function() {
            var interupt = false;
            var data = [this];
            let i = 0;
            $('input').each(function() {
                i += 1;
                var content = $(this).val();
                if (content == ''){
                    if (i != 6){
                        alert("Còn ô trống chưa điền !!!");
                        interupt = true;
                        return false;
                    } else {
                        content = null;
                    }
                }
                data.push(content);
            });
            if (interupt){
                return false;
            }
            sendToServer.apply(this, data);
        });

        $(document).on('click', '.delete', function() {
            $(this).parents('tr').remove();
        });

        function sendToServer(saveElement, content, amount, account, income_type, accounting_voucher, receiving_date, receiver, sender, address, place){
            incomeId = $(saveElement).parent().siblings('td.incomeId').html()
            var url, type;
            if (incomeId) {
                url = "http://127.0.0.1:8000/api/1/incomes/" + incomeId + "/";
                type = "PUT";
            }
            else {
                url = "http://127.0.0.1:8000/api/1/incomes/";
                type = "POST";
                document.getElementById("myTable").deleteRow(1);
            }
            $.ajax({
                url: url,
                type: type,
                data: {
                    content:content, amount:amount, account:account, income_type:income_type, accounting_voucher:accounting_voucher,
                    receiving_date:receiving_date, receiver:receiver, sender:sender, address:address, place:place
                },
                headers: { "X-CSRFToken": '{{csrf_token}}' },
            })
            .done(function(response){
                loadIncomeTable();
            })
            .fail(function(response){
                console.log(response);
                alert("Có lỗi xảy ra, không thể lưu vô cơ sở dữ liệu !!!");
            });
        }

        function addRow() {
            var table = document.getElementById("myTable")
            var row = table.insertRow(1)
            for (let i=0;i<2;i++)
            {
                var cell = row.insertCell(i);
                cell.innerHTML = '';
            }
            for (let i=2;i<12;i++)
            {
                var cell = row.insertCell(i);
                if (i==7){
                    cell.innerHTML = '<input type="date" >';
                } else {
                    cell.innerHTML = '<input value="'+'" />';
                }
                cell.className = "data"
            }
            cell = row.insertCell(12)
            cell.className = "buttonsBlock"
            cell.innerHTML = '<a class="btn save" style="display:inline"> Lưu </a><a class="btn delete" style="display:inline"> Xóa </a><a class="btn edit" style="display:none"> Sửa </a>'
        }

        function loadIncomeTable() {
            let data = [];
            $.ajax({
                url: "http://127.0.0.1:8000/api/1/incomes/",
                type: "GET",
                dataType: 'json',
            })
            .done(function(response){
                for(let i of response){
                    let row = { 
                        "Số TT": i.id,
                        "Ngày tạo": (new Date(i.created_at)).toLocaleString(),
                        "Nội dung thu tiền": i.content,
                        "Số tiền": i.amount,
                        "Tài khoản đối ứng": i.account,
                        "Loại doanh thu": i.income_type,
                        "Số chứng từ": i.accounting_voucher,
                        "Ngày thu tiền": i.receiving_date,
                        "Người trực tiếp thu tiền": i.receiver,
                        "Họ tên người nộp tiền": i.sender,
                        "Địa chỉ": i.address,
                        "Nhận tiền tại": i.place,
                        "": "button",
                    }
                    data.push(row);
                }

                const options = {
                    tableId:'myTable',
                    currentPage:1,
                    perPage:10,
                    autoHeaders:false,
                    arrowUp:'⇑',
                    arrowDown:'⇓',
                    previousText:'&#10094',
                    nextText:'&#10095',
                }
        
                setTable(data, options);
            })
            .fail(function(response){
                console.log(response);
            });
        }
    </script>
</div>
{% endblock %}
